/* Styling to whole page to prevent unnecessary margins or padding */
html {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #efeff5;
}

main {
    width: 100%;
}

/* Styling for the header of the page */
header {
    background-color:#000033;
    margin: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.links {
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
}

.name-block {
    background-color: #4dd2ff;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-size: 2em;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
    padding-left: 50px;
}

.links li {
    margin: 20px;
    padding-bottom: 5px;
    list-style-type: none;
    border-bottom: 3px #4dd2ff solid;
    font-size: 1.5em;
}

.links a {
    text-decoration: none;
    color:#4dd2ff;
}

/* Styling for banner image and self image underneath the navigation bar */

#banner {
    width: 100%;
    height: 30vh;
}

#self-picture {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin-top: -210px;
}

.self-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for main sections of the page (about me, Work, Contact Me, etc.) */

.about-me, .work-history, .contact-me {
    display: flex;
    margin: 40px 50px;
    color: #47476b;
}

.about-me {
    height:170px;
}

.work-history {
    height: 950px;
}

.contact-me {
    margin-left: 40px;
}

.about-me-title, .work-history-title, .contact-me-title {
display: flex;
flex-wrap: wrap;
height: 158px;
width: 131px;
font-size: 2rem;
font-weight: bold;
border-right: 5px #47476b solid;
padding-right: 25px;
}

.work-history-title {
    padding-left: 8px;
}

.about-me-description, .work-history-projects, .contact-me-description {
    margin-left: 35px;
    font-weight: bold;
}

.about-me-description {
    padding-left: 5px;
}

.contact-me-description {
    width: 100%;
}

.contact-me-title {
    padding-right: 15px;
}

.leblanc-bbq {
    height: 300px;
    width: 100%;
    object-fit:cover;
    border: solid 5px #4dd2ff;
}

.half-sized-projects-row1, .half-sized-projects-row2 {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project2, .project3, .project4, .project5 {
    width: 48%;
}

.project2-img, .project3-img, .project4-img, .project5-img {
    width: 100%;
    height: 300px;
    filter: grayscale(70%);
    border: solid 5px #4dd2ff;
}

.project1-img:hover {
    filter: grayscale(0%);
}

.project2-img:hover {
    filter: grayscale(0%);
}

.project3-img:hover {
    filter: grayscale(0%);
}

.project4-img:hover {
    filter: grayscale(0%);
}

.project5-img:hover {
    filter: grayscale(0%);
}

.contact-me-items {
    display: flex;
    /* justify-content: space-between; */
    align-items:flex-end;
}

.contact-me-items li {
    margin: 25px;
    list-style-type: none;
    border-bottom: 3px #47476b solid;
    font-size: 1em;
}